@model Nop.Plugin.Admin.StyleEditor.Areas.Admin.Models.ConfigurationModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-2">
            <nop-label asp-for="CustomStyles" />
        </div>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.CustomStyles, 20, 0, new { Style = "width:100%" })
            @Html.ValidationMessageFor(model => model.CustomStyles)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-10 offset-md-2">
            <div class="float-right">
                <button type="button" name="format" class="btn btn-success" onclick="doFormat()">@T("Plugins.Admin.StyleEditor.Configuration.FormatStyles")</button>
            </div>
        </div>
    </div>
</div>

<script asp-location="Footer" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify-css.min.js"></script>

<script asp-location="Footer">
    function doFormat() {
        var styles = $('#CustomStyles');
        var contents = styles.val();
        var formatted = css_beautify(contents);
        styles.val(formatted);
    }
</script>